@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"]{
	margin-top: 5em;
}

section[epub|type~="dedication"] > p{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}

/* This is to properly format blockquotes in endnotes.xhtml */
li blockquote{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	text-align: right;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

a.mapref{
	font-size: smaller;
	vertical-align: super;
}

ul{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	margin: 1em;
}

table td,
table th{
	padding: .25em;
}

table td + td{
	text-align: right;
}

table tr:last-child td{
	border-top: 1px solid;
}

/* This is to handle multi-line letter addresses */
.letter-location{
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: initial;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:letter"] footer p[epub|type~="z3998:recipient"]{
	text-align: initial;
	text-indent: 0;
}

/* These are to format the hierarchical lists in the organization chart in the appendix */
.organization-chart-1{
	font-variant: small-caps;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1em;
	text-indent: 0;
}

.organization-chart-2{
	font-variant: small-caps;
	margin-bottom: 0.5em;
	margin-top: 1em;
	text-indent: 0.5em;
}

.organization-chart-3{
	font-variant: small-caps;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	text-indent: 1em;
}
